
#neighborhoodTable {
	background-color: #ffffff;
   	border-style:none;
    float:auto;
    width :90%;
	}
#neighborhoodIdTd {
    visibility:hidden;
    width:2p;
}
div#choseNeighborhood{
	border-style:solid;
	border-width:1px;
	border-color:orange;
	overflow-y: auto;
	width: 90%;
	height:120px;
}
div#tenantInNeighborhood{
	border-style:solid;
	border-width:1px;
	border-color:orange;
	overflow-y: auto;
	width: 90%;
	height:120px;
}
table#tenantInNeighborhoodTable{
	background-color: #ffffff;
   	border-style:none;
    float:auto;
    width :90%;
    cellpadding:2;
	cellspacing :2;
	}

	
