div#chooseStreetDiv{
	border-style:solid;
	border-width:1px;
	border-color:orange;
	overflow-y: auto;
	width: 90%;
	height:120px;
}
#streetTable {
	background-color: #ffffff;
   	border-style:none;
    float:auto;
    width :90%;
}
#streetIdTd {
    visibility:hidden;
    width:2p;
}
div#tenantInStreet{
	border-style:solid;
	border-width:1px;
	border-color:orange;
	overflow-y: auto;
	width: 90%;
	height:120px;
}
table#tenantInStreetTable{
	background-color: #ffffff;
   	border-style:none;
    float:auto;
    width :90%;
    cellpadding:2;
	cellspacing :2;
	}
table#tenantInStreetTable tr:hover {
		font-size: 1.4em;
        color:red;
}

