
#peopleTable {
   	border-style:none;
    width :90%;
    font-size: 1em;
	}
#peopleTable tr:hover {
		font-size: 1.4em;
        color:red;
}

#zeut {
  color:white;
 visibility:hidden
}


#searchArea {
	height: 140px; 
	width: 80%;
	border-style:none;
	}	
#contentArea {
    border: 1px solid orange;
    overflow-y: auto;
	width: 90%;
	height:150px;
	}




