<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="he">
<head>
	<link rel="stylesheet" type="text/css" href="../static/css/mainStyle.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/tabStyle.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/tenantStyle.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/neighborhoodStyle.css" />
    <title >kibbutz yagur</title>
    <script type="text/javascript" src="../static/js/jquery-1.6.min.js"></script>
     <script type="text/javascript" src="../static/js/OpenLayers.js"></script>
    <script type="text/javascript" src="../static/js/main.js"></script>
    <script type="text/javascript" src="../static/js/tab.js"></script>
     <script type="text/javascript" src="../static/js/map.js"></script>
</head>
<body >
    <!-- Header -->
    <div id="header">
            Welcome  {{  userName }}
            {% block userlinks %}
                /  <a href="/admin/"> login</a>
            {% endblock %}
</div>
{% block bodyBlock %}{% endblock %}
</body>
</html>
