<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="he">
<head>
	<link rel="stylesheet" type="text/css" href="../static/css/mainStyle.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/tabStyle.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/tenantStyle.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/neighborhoodStyle.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/streetStyle.css" />
    <title >kibbutz yagur</title>
    <script type="text/javascript" src="../static/js/jquery-1.6.min.js"></script>
     <script type="text/javascript" src="../static/js/OpenLayers.js"></script>
    <script type='text/javascript' src='../static/js/OpenStreetMap.js'></script>
  <script src="http://maps.google.com/maps/api/js?v=3.3&sensor=false"></script>
   <script type="text/javascript" src="../static/js/map.js"></script>
 <script src="http://www.google.com/jsapi?key=ABQIAAAAHSBrH8ooqBDX1c4fL8INxhRi_j0U6kJrkFvY4-OX2XYmEAa76BTNfDaJQK7GbtTFlTSS90ixe_0ITQ"></script>
    <script type="text/javascript" src="../static/js/mape3d.js"></script>
      <script type="text/javascript" src="../static/js/tab.js"></script>
  <script type="text/javascript" src="../static/js/main.js"></script>

</head>
<body >
    <!-- Header -->
    <div id="header">
            Welcome  {{  userName }}
            {% block userlinks %}
                /  <a href="/admin/"> login</a>
            {% endblock %}
                /<a href="/googleEarth">3 מימדים</a>
</div>
{% block bodyBlock %}{% endblock %}
</body>
</html>
