{% extends "base.html" %}

{% block bodyBlock %}
<div id="map" >
<div id="map3d"></div>
<!--
<iframe
            width="100%"
            height="100%"
            frameborder="0"
            scrolling="no"
            marginheight="0"
            marginwidth="0"
            src="http://maps.google.com/maps/ms?msa=0&amp;ie=UTF8&amp;t=f&amp;ecpose=32.73920753,35.07772128,207.93,17.342,60.807,0&amp;msid=207373915563797360967.0004a60ecd170df7f2e63&amp;ll=37.0625,-95.677068&amp;spn=24.455808,37.353516&amp;z=4&amp;output=embed">
    </iframe> -->
</div> <!--  mapdiv -->
<div id="rightHafe" align="right">
    <ul class="tabs">
           <li><a href="#tenantDiv">דיירים</a></li>
           <li><a href="#apartmentDiv">רחובות</a></li>
           <li><a href="#neigborhoodDiv">שכונות</a></li>
       </ul>

<div id="tenantDiv" class="tab_container"  >
<div id="searchArea" dir = "rtl" align="right" >

	<table id="searchTable" align="center">
		<tr>
			<td></td>
			<td>הכנס את שם החבר המבוקש</td>
		</tr><tr>
		</tr><tr>
       		<td>שם פרטי</td>
       		<td><label>
                   <input id="privetNameSearch" type="text" name="privetNameRequest">
               </label></td>
       	</tr><tr>
       		<td>שם משפחה</td>
       		<td><label>
                   <input id="familyNameSearch" type="text" name="familyNameRequest">
               </label></td>
       	</tr><tr>
       		<td> <input id="searchTenantButton" type="submit" value="חפש"> </td>
       		 <td >
                  <label>סה"כ </label>
                 <label id="totalPeople">{{recordsOfPeople|length  }}</label>
            </td>
   		</tr><tr>
            <td></td>
    		<td> לחץ על השם הרצוי על מנת לראות את כתובתו</td>
    	</tr>
    </table>
</div> <!-- searchArea -->
<div id="contentArea" align="center" >
{% if recordsOfPeople %}
	<table id="peopleTable"  dir="rtl"   >
	<th >שם פרטי</th>
	<th>שם משפחה</th>
        <tbody>
	{% for i in recordsOfPeople %}
          <tr id="peopleRow">
                <td >{{  i.given }}</td>
                <td  >{{ i.family }}</td>
               <td  id="zeut" >{{ i.id }}</td>
           </tr>
     {% endfor %}
    </tbody>
    </table>
    <br/>
{% else %}
    <p>לא ניתן למצוא נתונים מתאימים לבקשה</p>
    <p>{{familyNameRequest}} {{privetNameRequest}}</p>
{% endif %}
<br/>
</div> <!-- contentArea -->
<br/>
</div> <!-- tenantDiv -->
<div id="apartmentDiv" class="tab_container" >
    <input id="userPrivetName" type="text" name="privetNameRequest">
<input id="tryAjax" type="submit" value="1חפש">
    <table id="tableAjax">
        <th >שם פרטי</th>
	    <th>שם משפחה</th>
         <tr >
                <td >aaa</td>
                <td  >111</td>
           </tr>
        <tr >
                <td >bbb</td>
                <td  >222</td>
           </tr>
    </table>
</div> <!-- apartmentDiv -->
<div id="neigborhoodDiv" class="tab_container" >
<p>בחר את השכונה הרצויה על ידי קליק על השם הרצוי</p>
<div id="choseNeighborhood">
	<table id="neighborhoodTable"  dir="rtl" >
	{% for n in recordsOfNeighborhood %}
          <tr id="neighborhoodRow" bgcolor="#FFFFFF"  onMouseOver="this.bgColor='gold';" onMouseOut="this.bgColor='#FFFFFF';">
                <td >{{  n.name }}</td>
               <td id="neighborhoodIdTd">{{ n.id }}</td>
           </tr>
     {% endfor %}
    </table>
</div><!-- choseNeighborhood -->
<p  align="center">
 <lable id ="neigborhoodChoseName">עוד לא נבחרה שכונה</lable>
 <label id="totalTenantsInNiegborhood"></label>
</p>
<div id="tenantInNeighborhood">
<form id= "choseTenantFromNeighborhoodForm" action="" method="get" >
<input type="hidden" name="formId" value="choseTenantFromNeighborhoodForm">
<input type="hidden" name="tenant_selected" value="">
<table id="tenantInNeighborhoodTable"  dir="rtl" >
	{% for eachTenant in tenantInNeighborhood %}
          <tr bgcolor="#FFFFFF" onclick="choseTenantFromNeighborhood(this)" onMouseOver="this.bgColor='gold';" onMouseOut="this.bgColor='#FFFFFF';">
                <td zeut="{{eachTenant.id}}">{{  eachTenant }}</td>
           </tr>
     {% endfor %}
    </table>
</form>
</div> <!-- tenantInNeighborhood -->
</div> <!-- neigborhoodDiv -->

</div> <!-- rightHafe -->
  <div id="coordsDiv">
  </div>
{% endblock %}

